CHALLONGE_API_KEY=votre_cle_api_v1_challonge
TIMEZONE=Europe/Paris

GOOGLE_APPLICATION_CREDENTIALS=fichoer_credential_service_account_google.json
GOOGLE_SHEET_ID=spreadsheet_id_from_url
GOOGLE_SHEET_WORKSHEET=ma feuille
GOOGLE_SHEET_RANGE=A2:A33